.wrapper{
    width: 50%;
    font-family:Montserrat;
    font-size: 18px

            }

.header{
    font-family:Oswald;
     font-size:36px}


@media(max-width:1000px){
    .wrapper{
        width: 100%;
    }

}