
.container{
    background-color: #2E323F;
    margin:0;
    padding:0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Oswald;
    max-width: 1200px;
    margin-left:auto;
    margin-right: auto;
    width: 90%;
}

.brandTitle {
    font-size: 1.5rem;
    margin: .5rem;
}

.brandTitle a, .brandTitle a:visited{
    text-decoration:none;
    color:inherit;
}

.navbarLinks {
    height: 100%;
}

.navbarLinks ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbarLinks li {
    list-style: none;
}

.navbarLinks li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbarLinks li:hover {
    background-color: #555;
}

.toggleButton {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggleButton .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggleButton {
        display: flex;
    }

    .navbarLinks {
        display: none;
        width: 100%;
    }

    .navbarLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navbarLinks ul li {
        text-align: center;
    }

    .navbarLinks ul li a {
        padding: .5rem 1rem;
    }

    .navbarLinks.active {
        display: flex;
    }
}